---
import Layout from "../layouts/Layout.astro";
import Notes from "../components/notes.astro";
---

<script>
    document.addEventListener("keydown", function (event) {
        if (event.key === "a") {
            const content = prompt("Enter the content");
            if (content == null) return;
            const title = prompt("Enter the title");
            if (title == null) return;
            fetch("/api/create-note/", {
                method: "post",
                body: JSON.stringify({ title, content }),
            })
                .then((res) => res.json())
                .then(() => {
                    alert("Note added");
                    location.reload();
                });
        }
    });
</script>

<Layout title="Note taker">
    <div class="grid grid-cols-2 lg:grid-cols-4 2xl:grid-cols-5 gap-6 mt-10">
        <Notes />
    </div>
</Layout>
