---
import { getNotes } from "../data/note";
const notes = await getNotes();
---

<script is:inline>
    async function copy (event) {
        const content = event.target.getAttribute("data-content")
        await navigator.clipboard.writeText(content);
        Toastify({text: "Copied!", gravity: "bottom", position: "right"}).showToast()
    };
</script>

{
    notes.map(({ title, content }, index) => (
        <div
            id={`${index}`}
            class="product-font bg-white p-4 text-black rounded-xl transition duration-300 cursor-pointer"
        >
            <button onclick="copy(event)" data-content={content}>
                Copiar
            </button>
            <h4 class="font-bold text-xl">{title}</h4>
            <p class="text-sm text-gray-500">{content.slice(0, 10)}...</p>
        </div>
    ))
}
