---
const { title, content } = Astro.props
---

<script is:inline define:vars={{ content }}>
window.content = content;
</script>

<script is:inline>
const copy = async () => {
    await navigator.clipboard.writeText(window.content)
    alert('Copied to clipboard!')
};
</script>

<div onclick="copy()" class="product-font bg-white p-4 text-black rounded-xl transition duration-300 hover:scale-105 cursor-pointer">
    <h4 class="font-bold text-xl">{title}</h1>
    <p class="text-sm text-gray-500">{content.slice(0, 10)}...</p>
</div>
